body{
background-image: url(../img/Fondo1.jpg);
}


/*Estilo del menú*/
nav{
    background-color: transparent; /* Hace el fondo deñ menú transparente*/
    position: fixed; /* Pone el menú en la parte superior*/
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;/* Hace que el menú esté arriba de la página*/

}

nav ul{
    
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

nav li a{
    font-family: Open ;
    margin: 10px; /*Agrega 10 px de margén para separar los items y no estén muy juntos*/
    color: #f5f0ed; /*Color de texto*/
    text-decoration: none;
}

/* Texto debajo del menú*/

.recien-hecho {
    
    text-align: center;
    margin-top: 100px;
    padding: 50px 20px; /* Ajusta el relleno superior e inferior */
    color: #f5f0ed; /* Ajusta el color del texto */
  }
  
  .recien-hecho h2 {
    margin-top: 100px;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  /* Caja "Ven al Brunch de los domingos"*/
  .cajaBrunchDomingos{
    width: 400px;
    height: 200px;
    background-color: #d03b40
  

    
  }